<div class="start" *ngIf="state === 'START'">
  <div>
    🌈 Добро пожаловать на супер квест Максик, набери {{winScore}} 💩,
    и может быть ты получишь свой приз 🥇, чтобы начать нажми на баклажан {{startCounter}} раз
  </div>
  <button (click)="plusStartCounter()" mat-fab color="accent" aria-label="Каво?">🍆</button>
</div>

<div class="main" *ngIf="state === 'MAIN'">
  <div class="score">
    <div [@bouncedState]='score'>{{score}} 💩</div>
    <div [@counterState]='scoreState' [style.color]="scoreColor" class="stateScore">{{scoreBonus}}</div>
  </div>
  <div class="quest">
    {{quest.quest}}
  </div>
  <div class="variants">
    <div id="v1">
      <img [src]="'assets/q' + questIndex + 'v1.jpg'" alt="v1">
    </div>
    <div id="v2">
      <img [src]="'assets/q' + questIndex + 'v2.jpg'" alt="v2">
    </div>
  </div>
  <div class="buttons">
    <div id="b1">
      <button mat-raised-button color="primary" (click)="makeVote(1)">{{quest.variantOne}}</button>
    </div>
    <div id="b2">
      <button mat-raised-button color="primary" (click)="makeVote(2)">{{quest.variantTwo}}</button>
    </div>
  </div>
</div>

<div class="end" *ngIf="state === 'WIN'">
  <img src="assets/win.jpg">
</div>

<div class="end" *ngIf="state === 'LOOSE'">
  <img src="assets/loose.jpg">
</div>
