@font-face {
  font-display: swap;
  font-family: "ProximaNova";
  src: url(/assets/a_ProximaNova.ttf);
}

@font-face {
  font-display: swap;
  font-family: "MontHeavy";
  src: url(/assets/a_MontHeavy.ttf);
}
